@model FirstProject.Areas.EMP_Department.Models.EMP_DepartmentModel;

<form method="post" asp-area="EMP_Department" asp-controller="EMP_Department" asp-action="Search">
    <div class="row">

        <div class="col-4">
            <input type="search" asp-for="DepartmentName" class="form-control" placeholder="Department Name" />
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary fw-bold">Search</button>
            <a class="btn btn-secondary fw-bold" style="margin-left:7px" asp-area="EMP_Department" asp-controller="EMP_Department" asp-action="Cancel">Clear</a>
        </div>
    </div>


</form>