@{
    ViewData["Title"] = "DepartmentAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FirstProject.Areas.EMP_Department.Models.EMP_DepartmentModel;
<section class="section">
    <p>
        @TempData["Success"]
    </p>

    <div class="">
        <div class="fs-2 text-danger">
            Add Department
        </div>
    </div>
    <hr />
    <div class="mt-4">
        <form method="post" asp-area="EMP_Department" asp-controller="EMP_Department" asp-action="Save">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="DepartmentID" autocomplete="off" />

            <div>
                <div class="fw-bold"><label asp-for="DepartmentName">Department Name</label><span class="text-danger fw-bold">*</span></div>
                <div class="mt-2"><input type="text" class="form-control" asp-for="DepartmentName" autocomplete="off" /></div>
                <span class="text-danger" asp-validation-for="DepartmentName"></span>
            </div>
            <br /><hr />

            <button type="submit" class="btn btn-success">
                Submit
            </button>
            <a type="submit" class="btn btn-secondary" asp-area="EMP_Department" asp-controller="EMP_Department" asp-action="Index">
                Back to List
            </a>
        </form>
    </div>
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

