@{
    ViewData["Title"] = "StateAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FirstProject.Areas.LOC_State.Models.LOC_StateModel;
<section class="section">
    <p>
        @TempData["Success"]
    </p>

    <div class="">
        <div class="fs-2 text-danger">
            Add State
        </div>
    </div>
    <hr />
    <div class="mt-4">
        <form method="post" asp-area="LOC_State" asp-controller="LOC_State" asp-action="Save">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="StateID" autocomplete="off" />

            <div class="row">
                <div class="col-4">
                    <div class="fw-bold mb-2"><label asp-for="CountryID">Country Name</label><span class="text-danger fw-bold">*</span></div>
                    <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.List,"CountryID", "CountryName"))">
                        <option value="">
                            Select Country
                        </option>
                    </select>
                    <span class="text-danger" asp-validation-for="CountryID"></span>
                </div>

                <div class="col-8">
                    <div class="fw-bold"><label asp-for="StateName">State Name</label><span class="text-danger fw-bold">*</span></div>
                    <div class="mt-2"><input type="text" class="form-control" asp-for="StateName" autocomplete="off" /></div>
                    <span class="text-danger" asp-validation-for="StateName"></span>
                </div>
            </div>

            <br /><hr />

            <button type="submit" class="btn btn-success">
                Submit
            </button>
            <a type="submit" class="btn btn-secondary" asp-area="LOC_State" asp-controller="LOC_State" asp-action="Index">
                Back to List
            </a>
        </form>
    </div>
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
